@using System.Collections.Generic
@model List<CreditVM>
@{
    ViewData["Title"] = "CreditControllerRiport";
}

<h2>Megszerzett kreditek</h2>

<table class="table">
    <thead>
        <tr>
            <th>Családnév</th>
            <th>Keresztnév</th>
            <th>Megszerzett kreditek</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Credit)
                </td>
            </tr>
        }
    </tbody>
</table>

